      <div class="container">

	      <div id='slider' class="starter-template col-xs-">
	      		<div id='header'>
			        
			        

					
					{{#each jobs}}

						<div class='row job'>
							<div class='jobHead col-xs-10'><h4 class='jobTitle'> {{title}}<span id='contact'>  &nbsp {{email}} || {{telephone}}</span> </h4></div>

							<div class='jobDesc col-xs-10'>
								<h6> {{description}} </h6>
								<div class='eventDate col-md-8'><h6> {{due_date}} </h6></div>
								<button class='btn col-md-4'>more</button>
							</div>
							
						</div>

					{{/each}}

				</div>      

	      </div>
	   </div>

